* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
    background-color: aqua;
}
main{
    height: calc(100vh - 100px);
    display: flex;
}


.main-content{
    width: calc(100% - 300px);
    height: 100%;
    overflow-y: scroll;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: rgb(45, 45, 45);
    position: relative;
}

footer{
    width: 100%;
    height: 100px;
    background-color: lightgrey;
   
}

.button{
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 20px;

}

/* --------------------------- utility ----------------------- */

/* --------------------------- navbar ----------------------- */

.navbar ul{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
}
.navbar{
    position: fixed;
    width: calc(100% - 300px);
    
}
/* .login{
    position: absolute;
    top: 0;
    right: 0;
} */


/* --------------------------- sidebar ----------------------- */
.sidebar{
    height: 100%;
    width: 300px;
    background-color: black;
    color: rgb(99, 99, 99);
}
.row-flex{
    height: 100%;
    padding: 5px 10px;
    color: rgb(99, 99, 99);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link-utility ul{
    list-style: none;
}
.search{
    margin: 30px 0;
}
.content-logo{
    width: 200px;
}
.content-logo img{
    width: 100%;
}

.search ul li{
    margin: 10px 0;
}
.search ul li img{
    width: 30px;
    vertical-align: middle;
}
.fas.fa-plus{
    padding: 10px;
    background-color: lightgray;
}

.playlist li{
    margin: 15px 0;
}

.user .download-app{
    width: 20px;
    vertical-align: middle;
}
.profile .user{
    width: 20px;
    background-color: lightgray;
    border-radius: 50%;
    vertical-align: middle;
}



/* --------------------------- main content ----------------------- */

/* --------------------------- nav-content ----------------------- */


.content{
    width: 100%;
    background-color: rgb(0, 103, 238);
    padding-top: 100px;
    
}
.nav-content{
    text-align: center;
    height: 100px;
    border: 1px solid black;
}
.nav-content ul{
    height: 100px;
    line-height: 100px;
}
.nav-content ul li{
    display: inline-block;
}
.nav-content ul li a{
    text-decoration: none;
    color: rgb(99, 99, 99);
    padding: 0 20px;
}
.nav-content ul li a:hover{
    color: white;
    text-decoration: underline;
}

/* --------------------------- container-album ----------------------- */

.container-album{
    padding: 10px 20px;
}
.container-album p{
    font-size: 12px;
    margin-top: 10px;
}
.container-album h2{
    color: white;
}

.info-track{
    width: 100%;
    margin: 20px 0;
    display: flex;
}

.track-played{
    width: 200px;
    text-align: center;
    /* border: 1px solid black; */
    margin-right: 20px;
}
.track-played .icone-image {
    width: 200px;
}
.icon-image img{
    width: 100%;
}
.track-played h4{
    margin: 5px 0;
    color: white;
}