* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
}

main{
    height: calc(100vh - 100px);
    display: flex;
}


.navbar{
    width: 100%;
    height: 100px;
    background-color: rgb(45, 45, 45);
    position: relative;
}

footer{
    width: 100%;
    height: 100px;
    background-color: grey;
    color: white; 
    position: fixed;
    z-index: 10;
}

.button{
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
}

/* --------------------------- utility ----------------------- */

/* --------------------------- navbar ----------------------- */

.navbar ul{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
}
.navbar{
    position: fixed;
    width: calc(100% - 200px);
    
}

/* --------------------------- sidebar ----------------------- */
.sidebar{
    height: 100%;
    width: 200px;
    background-color: black;
    color: rgb(99, 99, 99);
}
.sidebar .row-flex{
    height: 100%;
    padding: 5px 10px;
    color: rgb(99, 99, 99);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-logo{
    width: 150px;
    margin: 25px 0;
}
.content-logo img{
    width: 100%;
}

.content-logo-mobile{
    display: none;
}

.sidebar-top ul{
    list-style: none;
}

.sidebar-top ul li{
    margin: 10px 0;
}
.sidebar-top ul li img{
    width: 30px;
    vertical-align: middle;
}

.sidebar-top h4{
    color: white;
}
.sidebar-top .fas.fa-plus{
    background-color: grey;
    padding: 10px;
}

.sidebar-top ul li span{
    padding-left: 10px;
}

.playlist-scroll {
    flex-grow: 1;
    min-height: 150px;
    overflow-y: auto;
}

.playlist-scroll li{
    margin: 15px 0;
}

.sidebar-bottom .download-app{
    width: 20px;
    vertical-align: middle;
}
.profile .user{
    width: 20px;
    background-color: lightgray;
    border-radius: 50%;
    vertical-align: middle;
}

.sidebar-bottom hr{
    margin: 10px 0;
}
.download img, .profile img{
    margin-right: 10px;
}



/* --------------------------- main content ----------------------- */

.main-content{
    width: calc(100% - 200px);
    height: 100%;
}

/* --------------------------- header ----------------------- */
header{
    height: 100px;
    width: calc(100% - 215px);
    background-color: black;
    position: fixed;
    z-index: 1001;
}

header a{
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 1001;
}
/* --------------------------- content ----------------------- */

.content{
    width: 100%;
    height: 100%;
    background-color:#15181f;
    padding-top: 100px;
    overflow: auto;
    
}
.nav-content{
    text-align: center;
    margin: 20px 0;
    height: 50px;
}
.nav-content ul{
    list-style: none;
}
.nav-content ul li{
    display: inline-block;
}
.nav-content ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: grey;
}
.nav-content ul li a:hover{
    color: white;
    text-decoration: underline;
}

/* --------------------------- container-album ----------------------- */

.container-album{
    margin-left: 10px;
    margin-bottom: 10px;
}
.recently-played, .create-for, .popular-artist{
    color: white;
}

.info-track{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.track-played{
    width: calc(100% / 6 - 20px);
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}
.track-played img{
    width: 100%;
}

.track-played h4{
    margin: 5px 0;
    color: white;
}

.container-album p{
    font-size: 12px;
    margin-top: 10px;
    color: grey;
}

/* --------------------------- footer ----------------------- */
footer{
    height: 100px;
    background-color: grey;
    color: white; 
    padding: 5px;
}

footer .row-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer .player-left, footer .player-right{
    width: 250px;
    max-width: calc(100% / 3);
    height: 100%;
}

footer .player-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.player-left .name-song{
    padding-right: 40px;
}

.player-left img{
    width: 70px;
    object-fit: cover;
}

footer .player-center{
    width: calc(100% - 500px);
    flex-grow: 1;
    height: 100%;
}

.player-center .play-track-flex{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.play-track-flex .play-top, .play-track-flex .play-bottom{
    height: 50%;
    width: 100%;
    text-align: center;
}

.play-top i{
    font-size: 15px;
    vertical-align: middle;
    padding: 0 10px;
}

.play-track-flex .time{
    font-size: 13px;
    margin: 0 15px;
}

.play-bottom input{
    width: 70%;
    vertical-align: middle;
}


.player-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-right i{
    margin-right: 15px;
}


/* ---------------------media query tablet--------------------- */

@media screen and (min-width:576px) and (max-width:1199px){
    
    .track-played{
        width: calc(100% / 4 - 20px);
    }

    .sidebar-top .content-logo-mobile{
        display: none;
    }
       

}

/* ---------------------media query mobile--------------------- */


@media screen and (max-width:575px){
    
    header{
        width: calc(100% - 57px)
    }


    .track-played{
        width: calc(100% / 2 - 20px);
    }

    .sidebar-top .content-logo{
        display: none;
    }

    .sidebar-top .content-logo-mobile{
        display: block;
        width: 30px;
    }

    .sidebar-top span,.sidebar-top h4,.fas.fa-plus{
        display: none;
    }

    .sidebar-bottom span,hr{
        display: none;
    }

    .playlist-scroll{
        display: none;
    }

    .row-flex{
        justify-content: space-between;
    }
    
    .sidebar{
        width: 50px;
    }

    .navbar{
        width: calc(100% - 50px);  
    }

    .main-content{
        width: calc(100% - 50px);
    }

    .nav-content li, .track-played h4{
        font-size: 13px;
    }

   
}