* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    position: relative;
}
main{
    height: 100%;
    display: flex;
}

.sidebar{
    height: 100%;
    width: 15%;
    background-color: blueviolet;
}

.main-content{
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    /* in alternativa avrei potuto usare flex-direction: column */
}

.navbar{
    height: 20%;
    width: 100%;
    background-color: chartreuse;
}

.content{
    height: 80%;
    width: 100%;
    background-color: red;
}

footer{
    width: 100%;
    height: 20%;
    background-color: lightgrey;
    position: absolute;
    left: 0;
    bottom: 0;
}